.items {
    padding: 40px;
}

.item-detail {
    max-width: 1000px;
    margin: 60px auto;
    display: flex;
    gap: 60px;
}

/* 左画像 */
.item-detail__left {
    flex:1;
}
.item-detail__image {
    width: 100%;
    max-width: 450px;
    height: auto;
}

/* 右商品情報 */
.item-detail__right {
    flex:1;
}

.item-name {
    font-size: 32px;
    margin-bottom: 10px;
}

.item-brand {
    color: #666;
}
.item-price {
    font-size: 24px;
    margin:10px 0 20px;
}
.price-yen {
    font-size: 18px;
    margin-right: 2px;
}
.price-tax {
    font-size: 14px;
    margin-left: 5px;
    color: #666;
}

/* いいね！ */
.item-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
.like-button {
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: none;
    cursor: pointer;
}
.comment-count {
    display: flex;
    align-items: center;
    gap: 6px;
}

.like-button img, .comment-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.like-button.disabled {
    pointer-events: none;
}

/* 購入ボタン */
.purchase-button {
    width: 100%;
    padding:12px;
    background: #ff5555;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    margin: 20px 0;
}

/*カテゴリ*/
.category-tag {
    display: inline-block;
    padding: 4px 10px;
    background: #eee;
    border-radius: 12px;
    margin-right: 6px;
}

/*コメント*/
.comment-button {
    width: 100%;
    padding:12px;
    margin-top: 10px;
    background: #ff5555;
    color: white;
    border: none;
    border-radius: 6px;
}

.item-comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-top: 10px;
}

/* textarea:disabled {
    background-color: #f5f5f5;
} */